<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random User Page Generator Project</title>
    <link rel="stylesheet" href="../public/style.css" />
    <script type="module" src="../app.js" defer></script>
  </head>
  <body>
    <div id="main-user">
      <img id="main-user-picture" src="" alt="User Picture" />

      <h2 id="main-user-fullname">Loading Name...</h2>

      <h3 id="main-user-location"></h3>
    </div>

    <div id="quote"></div>

    <div id="pokemon"></div>

    <div id="about-me"></div>

    <div id="friends-panel">
      <h3>My Friends</h3>
      <ul id="friends-container"></ul>
    </div>
  </body>
</html>
