<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random User Page Generator Project</title>
    <link rel="stylesheet" href="../public/style.css" />
    <script type="module" src="../app.js" defer></script>
  </head>
  <body>
    <header class="action-bar">
      <button type="button" id="generate-user">Generate User</button>
      <button id="save-user">Save User Page</button>
      <select id="saved-users-dropdown">
        <option value="">-- Select Saved User --</option>
      </select>
      <button id="load-user">Load User Page</button>
    </header>

    <main class="dashboard-container">
      <section class="profile-col">
        <div id="main-user">
          <img id="main-user-picture" src="" alt="User Picture" />
          <h2 id="main-user-fullname">Loading Name...</h2>
          <h3 id="main-user-location"></h3>
        </div>

        <div id="quote"></div>

        <div id="about-me"></div>
      </section>

      <section class="feature-col">
        <div id="pokemon">
          <h4>Pokemon</h4>
          <div id="pokemon-name">Loading Pokemon Name</div>
          <img id="pokemon-image" src="" alt="pokemon-name" />
        </div>

        <div id="friends-panel">
          <h3>My Friends</h3>
          <ul id="friends-container"></ul>
        </div>
      </section>
    </main>
  </body>
</html>
